header {
  background-image: url(image/mountains.png);
  width: 1440px;
  height: 500px;
  margin: 0px auto;
}

header * {
  color: #fff;
}

header > div {
  position: relative;
  max-width: 920px;
  max-height: 500px;
  margin: 0px auto;
}

header span {
  position: absolute;
  font-family: 'Lora';
  font-size: 26px;
  top: 20px;
}

header nav {
  position: absolute;
  font-family: 'Oxygen';
  top: 35px;
  right: 0;
  font-size: 12px;
  }

header * div {
  position: absolute;
  max-width: 500px;
  max-height: 170px;
  left: 200px;
  top: 150px;
}

header h1 {
  font-family: 'Lora';
  max-height: 50px;
  text-align: center;
}

header p {
  font-family: 'Oxygen';
  font-size: 17px;
  text-align: center;
}

header button {
  background-color: #dd783f;
  border-radius: 3px;
  padding: 10px;
  border-style: none;
  display: block;
  margin: 30px auto 0px;
}
