* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.body {
  background-color: #F7F7F7;
}

.header {
  background-color: #2E2E2E;
  height: 74px;
}

.header__wrapper {
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 26px;
  margin: 0 10px;
  cursor: pointer;
}

.header__author {
  margin-left: auto;
  height: 24px;
  width: 24px;
}

.header__exit {
  margin: 10px;
  cursor: pointer;
}

.main {
  max-width: 1180px;
  margin: 0 auto;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.4) url("../img/admin/loading-please-wait.gif") center / 100px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.main._sending::after {
  opacity: 1;
  visibility: visible;
}

.menu {
  min-height: 164px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__nameing {
  margin: 0 10px;
}

.menu__title {
  font: 400 34px Lora;
}

.menu__subtitle {
  margin-top: 8px;
  font: 400 14px Oxygen;
  color: #7A7A7A;
}

.menu__button {
  font: 400 16px Oxygen;
  color: #FFFFFF;
  background-color: #DD783F;
  margin: 0 10px;
  padding: 12px 24px;
  border-radius: 3px;
  border: 0;
}

.data {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

.data__title {
  font: 400 27px Lora;
  margin-bottom: 40px;
  width: 100%;
}

.form {
  min-width: 560px;
}

.form__item {
  margin-bottom: 40px;
}

.form__lable {
  font: 400 12px Oxygen;
  margin-bottom: 5px;
  color: #7A7A7A;
  display: block;
}

.form__text {
  outline: none;
  display: block;
  padding: 5px;
  width: 100%;
  height: 40px;
  font: 400 16px Oxygen;
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 0;
  border-bottom: 1px solid #EAEAEA;
}

.form__file {
  margin-bottom: 40px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.icon__span {
  font: 400 16px Oxygen;
  color: #2E2E2E;
}

.icon__span_hide {
  display: none;
}

.icon__preview {
  width: 48px;
  height: 48px;
  background: url(/static/img/admin/camera.png) no-repeat center;
  background-color: #F7F7F7;
  margin-right: 16px;
  border: 1px dashed #D3D3D3;
  border-radius: 50%;
}

.icon__input {
  position: absolute;
  top: 0;
  left: 64px;
  height: 48px;
  width: 122px;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
}

.form__menu {
  display: flex;
}

.form__menu_hide {
  display: none;
}

.form__upload {
  font: 400 16px Oxygen;
  padding-left: 32px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.form__upload::before {
  content: "";
  background: url(/static/img/admin/camera.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
}

.form__remove {
  font: 400 16px Oxygen;
  color: #E86961;
  padding-left: 32px;
  height: 24px;
  position: relative;
  margin-left: 16px;
  cursor: pointer;
}

.form__remove::before {
  content: "";
  background: url(/static/img/admin/remove.svg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
}

.image {
  position: relative;
}

.image__preview {
  width: 100%;
  height: 160px;
}

.image__input {
  position: absolute;
  left: 0;
  top: 0;
  height: 160px;
  width: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.short-image {
  position: relative;
}

.short-image__preview {
  width: 296px;
  height: 150px;
}

.img {
  background-color: #F7F7F7;
  border: 1px dashed #D3D3D3;
  border-radius: 6px;
  margin-bottom: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__span {
  font: 400 16px Oxygen;
  color: #2E2E2E;
  display: block;
  padding-left: 32px;
  position: relative;
}

.form__span::after {
  content: "";
  position: absolute;
  background-image: url(/static/img/admin/camera.png);
  height: 22px;
  width: 24px;
  left: 0;
}

.form__span_hide {
  display: none;
}

.short-image__input {
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 296px;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.form__preview_empty {
  background-color: #FFEBEA;
}

.form__limit {
  font: 400 12px Oxygen;
  color: #999999;
  width: 100%;
  margin: 5px 0;
}

.form__limit_error {
  color: #E86961;
}

.form__limit_hide {
  display: none;
}


.form__required {
  margin: 5px 0;
  color: #E86961;
  font: 400 12px Oxygen;
}

.form__required_hide {
  display: none;
}

.data__priview {
  min-width: 440px;
}

.article {
  margin-bottom: 20px;
}

.article__lable {
  font: 400 12px Oxygen;
  margin-bottom: 16px;
  color: #7A7A7A;
}

.article__display {
  width: 440px;
  height: 385px;
  border: 1px solid #D3D3D3;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}

.article__windows {
  width: 408px;
  height: 352px;
  margin: 32px 16px 0 16px;
  border: 1px solid #EAEAEA;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.article__menu {
  height: 22px;
  border-bottom: 1px solid #EAEAEA;
}

.article__menu::before {
  content: "...";
  position: absolute;
  color: #EAEAEA;
  font-size: 40px;
  letter-spacing: -2px;
  top: -24px;
  left: 8px;
}

.article__title {
  height: 24px;
  font: 400 21px Lora;
  text-align: center;
  margin: 37px 0 4px;
}

.article__subtitle {
  height: 12px;
  font: 400 11px Oxygen;
  text-align: center;
  margin: 0 0 36px;
  color: #7A7A7A;
}

.article__image {
  width: 100%;
  height: 160px;
  background-color: #F7F7F7;
}

.article-shadow-right {
  width: 150px;
  height: 387px;
  position: absolute;
  top: -1px;
  right: -1px;
  background: transparent;
  background-image: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0));
}

.article-shadow-bottom {
  width: 442px;
  height: 72px;
  position: absolute;
  bottom: -1px;
  left: -1px;
  background: transparent;
  background-image: linear-gradient(to top, #FFFFFF, rgba(255, 255, 255, 0));
}

.post {
  margin-bottom: 20px;
}

.post__lable {
  font: 400 12px Oxygen;
  margin-bottom: 16px;
  color: #7A7A7A;
}

.post__windows {
  width: 440px;
  border: 1px solid #D3D3D3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.post__card {
  margin: 32px 0 37px 16px;
  border: 1px solid #EAEAEA;
  width: min-content;
}

.post__image {
  width: 296px;
  height: 150px;
  background-color: #F7F7F7;
  border: 0;
}

.post__title {
  font: 400 16px Lora;
  margin: 14px 13px 7px;
  height: 16px;
}

.post__subtitle {
  font: 400 16px Lora;
  margin: 14px 13px 7px;
  color: #7A7A7A;
  height: 51px;
}

.author {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCFCFC;
  border-top: 1px solid #EFEFEF;
}

.author__icon {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: 0 13px;
  border: 1px solid #EFEFEF;
}

.author__name {
  font: 400 12px Oxygen;
  flex-grow: 1;
  color: #999999;
}

.author__date {
  font: 400 12px Oxygen;
  margin: 0 13px;
  color: #999999;
}

.post-shadow-right{
  width: 120px;
  height: 100%;
  position: absolute;
  top: -1px;
  right: -1px;
  background: transparent;
  background-image: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0));
}

.post-shadow-bottom {
  width: 442px;
  height: 37px;
  position: absolute;
  bottom: -1px;
  left: -1px;
  background: transparent;
  background-image: linear-gradient(to top, #FFFFFF, rgba(255, 255, 255, 0));
}

.content {
  background-color: #FFFFFF;
  margin-top: 16px;
  padding: 40px;
}

.content__title {
  font: 400 27px Lora;
  margin-bottom: 40px;
  width: 100%;
}

.form__textarea {
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  padding: 8px;
  outline: none;
  height: 160px;
  width: 100%;
}

.form__text_completed {
  background-color: #F7F7F7;
  border-bottom: 1px solid #2E2E2E;
}

.form__text_empty {
  background-color: #FFEBEA;
  border-bottom: 1px solid #E86961;
}

.empty-error {
  position: relative;
  background-color: #FFEBEA;
  border-radius: 5px;
  border-left: 2px solid #E86961;
  margin: 0 0 16px;
  padding: 11px 0 13px 46px;
}

.empty-error::before {
  content: '';
  background-image: url(../img/admin/alert-circle.svg);
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 14px;
}

.form-complete {
  position: relative;
  background-color: #E6FCEF;
  border-radius: 5px;
  border-left: 2px solid #67C38C;
  margin: 0 0 16px;
  padding: 11px 0 13px 46px;
}

.form-complete::before {
  content: '';
  background-image: url(../img/admin/check-circle.svg);
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 14px;
}

.empty-error_hide {
  display: none;
}

.form-complete_hide {
  display: none;
}

.img-prev {
  width: 100%;
  height: 100%;
}

.img-prev-icon {
  border-radius: 50%;
}

.img-prev_hide {
  display: none;
}
