<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ .Logo }}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="menu">
        <span class="menu__logo">{{ .Logo }}</span>
        <div class="menu__block-link">
          {{ range .Menu }}
            <a class="menu__link" href=" ">{{ .MenuLink }}</a>
          {{ end }}
        </div>
      </div>
      <h1 class="header__title">{{ .Title }}</h1>
      <p class="header__subtitle">{{ .Subtitle }}</p>
      <button class="header__button">{{ .LatestButton }}</button>
    </header>
    <main class="main">
      <nav class="menu-categories">
        {{ range .MenuCategories }}
          <a class="menu-categories__link" href=" ">{{ .CategoriesLink }}</a>
        {{ end }}
      </nav>
      <section class="section">
        <h2 class="section-title">{{ .TitleSectionOne }}</h2>
        {{ range .SectionOnePosts }}
          <div class="big-post {{ .FirstOrSecondPost }}">
            <span class="big-post__categories">{{ .Categories }}</span>
            <h3 class="big-post__title">{{ .Title }}</h3>
            <p class="big-post__subtitle">{{ .Subtitle }}</p>
            <div class="big-post__author">
              <img class="big-post__author-icon" src="{{ .AuthorImg }}" alt="icon William Wong" />
              <span class="big-post__author-name">{{ .Author }}</span>
              <span class="big-post__author-date">{{ .PublishDate }}</span>
            </div>
          </div>
        {{ end }}
      </section>
      <section class="section">
        <h2 class="section-title">{{ .TitleSectionTwo }}</h2>
        {{ range .SectionTwoPosts }}
          <div class="little-post">
            <img class="little-post__image" src="{{ .Image }}" alt="balloons" />
            <h3 class="little-post__title">{{ .Title }}</h3>
            <p class="little-post__subtitle">{{ .Subtitle }}</p>
            <div class="little-post__author">
              <img class="little-post__author-icon" src="{{ .AuthorImg }}" alt="icon William Wong" />
              <span class="little-post__author-name">{{ .Author }}</span>
              <span class="little-post__author-date">{{ .PublishDate }}</span>
            </div>
          </div>
        {{ end }}
      </section>
    </main>
    <footer class="footer">
      <h2 class="footer__title">{{ .SubmitTitle }}</h2>
      <form class="submit">
        <input class="submit__input" placeholder="{{ .TextInputBox }}" type="text" />
        <button class="submit__button">{{ .ButtonSubmit }}</button>
      </form>
      <div class="menu footer__menu">
        <span class="menu__logo">{{ .Logo }}</span>
        <div class="menu__block-link">
          {{ range .Menu }}
            <a class="menu__link" href=" ">{{ .MenuLink }}</a>
          {{ end }}
        </div>
      </div>
    </footer>
  </body>
</html>